In [36]:
from pandas import read_csv, DataFrame
from numpy import sqrt, transpose
from scipy.special import erf, erfinv

Set60 = read_csv("PH336 lab3 set1.csv", header = 1, names = ["A","B"])
xbar_60=Set60["B"].mean()
sigma_60=Set60["B"].std()
sigma_xbar_60=sigma_60/sqrt(len(Set60["B"]))

Set15 = read_csv("PH336 lab3 set3.csv", header = 1, names = ["A","B"])
xbar_15=Set15["B"].mean()
sigma_15=Set15["B"].std()
sigma_xbar_15=sigma_15/sqrt(len(Set15["B"]))

Set5 = read_csv("PH336 lab3 set2.csv", header = 1, names = ["A","B"])
xbar_5=Set5["B"].mean()
sigma_5=Set5["B"].std()
sigma_xbar_5=sigma_5/sqrt(len(Set5["B"]))

Set1 = read_csv("PH336 lab3 set4.csv", header = 1, names = ["A","B"])
xbar_1=Set1["B"].mean()
sigma_1=Set1["B"].std()
sigma_xbar_1=sigma_1/sqrt(len(Set1["B"]))


DataSets=[1,2,3,4]
seconds_sample=[60,15,5,1]
Mean=[xbar_60,xbar_15,xbar_5,xbar_1]
STD=[sigma_xbar_60,sigma_xbar_15,sigma_xbar_5,sigma_xbar_1]

df=DataFrame(transpose([DataSets,seconds_sample,Mean, STD]),columns=["Data Sets", "Seconds/Sample", "Mean","STD"], index = DataSets)
display(df)
print("")
print("Adjusted Dataframe to show counts/min for all datasets:")
print("")

df.loc[2, df.columns[-2:]]=df.loc[2, df.columns[-2:]]*4
df.loc[3, df.columns[-2:]]=df.loc[3, df.columns[-2:]]*12
df.loc[4, df.columns[-2:]]=df.loc[4, df.columns[-2:]]*60

display(df)

   Data Sets  Seconds/Sample         Mean        STD
1        1.0            60.0  2257.111111  15.228304
2        2.0            15.0   571.000000   3.909054
3        3.0             5.0   189.907563   1.310449
4        4.0             1.0    37.762938   0.245235

Adjusted Dataframe to show counts/min for all datasets:

   Data Sets  Seconds/Sample         Mean        STD
1        1.0            60.0  2257.111111  15.228304
2        2.0            15.0  2284.000000  15.636215
3        3.0             5.0  2278.890756  15.725383
4        4.0             1.0  2265.776294  14.714098